@font-face{
    font-family: budidaya;
    src: url(./Font/Budidaya_Regular.otf)
}
body{
    margin: 0;
    background-color: #FFF9DD;    
}
.navbar{
   position: fixed;
   width: 100vw;
   height: 10vh;
   background-color: #E9EA8d;
   margin: 0;
}
.navbar h1{
    font-family: budidaya;
    margin: 0;
    text-align: right;
    font-size: 300%;
    margin-right: 5%;
    padding-top: 0.5%;
}
.subnavbar{
    width: 70vw;
    height: 25%;
    background-color: black;
    position: relative;
}
