@font-face{
    font-family: budidaya;
    src: url(./Font/Budidaya_Regular.otf)
}
@font-face{
    font-family: wrtfont;
    src: url(./Font/WR_Tish_0idol_Regular.ttf)
}
html{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    background-color: #FFF9DD;
    width: 100vw;
    height: 100vh;    
}
.navbar{
   width: 100vw;
   height: 15vh;
   background-color: #E9EA8d;
   margin: 0;
   display: inline-block;
   padding-top: 1.5%;
}
.navbar h1{
    font-family: budidaya;
    margin: 0;
    text-align: right;
    font-size: 400%;
    margin-right: 5%;
    padding-top: 0.5%;
}
.subnavbar{
    width: 75vw;
    margin-left: 12.5vw;
}
.subnavbar ul{
    margin-top: 0;
    list-style-type: none;
    padding-bottom: 5%;
    display: inline-block;
    align-self: center;
}
.subnavbar li{
    float: left;
    background-color: #BEAC53;
}
.subnavbar li a{
    display: block;
    text-align: center;
    padding: 0.75em 1.25em;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-family: wrtfont; 
}
.subnavbar li a:hover{
    color: grey;
}
