@font-face{
    font-family: budidaya;
    src: url(./Font/Budidaya_Regular.otf)
}
@font-face{
    font-family: wrtfont;
    src: url(./Font/WR_Tish_0idol_Regular.ttf)
}
@font-face{
    font-family: Kanit;
    src: url(./Font/Kanit-Regular.ttf)
}
body{
    margin: 0;
}
/* navbar */
.main-container{
    display: flex;
    flex-direction: column;
    height: 200vh;
    margin: 0;
    background-image: url(./Image/jumbotron.jpeg);
    background: no-repeat;
}
.navbar-container{
    flex: 1;
    display: flex;
    width: 100%;
    height: 10%;
    background-color:hsla(221, 65%, 54%, 0.2);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    flex-direction: row;
}
.navbar-logo{
    flex: 2;
    font-family: Kanit;
}
.navbar-logo h1{
    font-size: 300%;
}
.navbar-middle{
    flex: 5;
}
.navbar-menu{
    flex: 6;
}
.navbar-menu ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}
.navbar-menu ul li{
    flex: 1;
    height: 100%;
    text-align: center;
    padding-top: 2%;
    display: flex;
}
.navbar-menu ul li a{
    font-family: Kanit;
    color: black;
    text-decoration: none;
    font-size: 150%;
    flex: 3;
}
.navbar-menu ul li a:hover{
    color:grey;
}
/* end navbar */
/* content */
.content-container{
    flex: 10;
    display: flex;
    background-image: url(./Image/jumbotron.jpeg);
    background-size: cover;
    justify-content: center;
    align-items: center; 
}
.content-container h1{
    font-size: 2000%;
    color: hsla(221, 65%, 54%, 1);;
    font-family: budidaya;
}
/* end content */
/* start bottom */
.bottom-container{
    flex: 4;
    background-color: hsla(215, 78%, 36%, 1);
}